<button id="city">+ city</button>

	<div id="map">
	<div id="content">
		<%= image_tag "gnomon.jpg" %>
		<h1>title</h1><a type="button" class="close ">x</a> <br>
		<p class="edit_area">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi provident, voluptatibus, minima rem saepe harum suscipit excepturi, fugit sint, laborum atque ut aliquid ex. Amet, iusto veritatis suscipit! Suscipit, esse.</p>
		<br>
		
	</div>
		<div id='wrap'><%= image_tag "map.jpg" %></img></div>

	</div>