<button id="city">+ city</button>

	<div id="map">
	<div id="content">
		<%= image_tag "gnomon.jpg" %>
		<h1 class="edit_title">world map</h1><a type="button" class="close ">x</a> <br>
		<p class="edit_area"></p>
		<br>
		
	</div>
		<div id='wrap'><%= image_tag "map.jpg" %></img></div>

	</div>